.discord-button {
    position: fixed;
    padding: 10px;
    width: 45px;
    height: 45px;
    background-color: #5865f2;
    border-radius: 28px;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
}