.home-page {
    .background-fade {
        background-image: linear-gradient(to bottom right, black 70%, transparent), url('~/public/images/bg-menu.svg');
    }
    .menu-section {
        position: relative;
        .image-bg {
            position: absolute;
            right: 20px;
            top: 240px;
        }
        @media only screen and (max-width: 768px) {
            .image-bg {
                right: -130px;
                top: 350px;
            }
        }
        @media only screen and (max-width: 400px) {
            .image-bg {
                right: -120px;
                top: 650px;
            }
        }
    }
    .data-section {
    }
    .info-section {
        position: relative;
        p {
            @media only screen and (max-width: 768px) {
                text-align: start;
            }
        }
        .redirect-link {
            text-decoration: underline;
        }
        .image-bg {
            position: absolute;
            left: 20px;
            top: 600px;
        }
        @media only screen and (max-width: 768px) {
            .image-bg {
                left: -150px;
            }
        }
        @media only screen and (max-width: 442px) {
            .image-bg {
                top: 680px;
            }
        }
    }
    .info-detail {
        max-width: 700px;
    }
    .tweets-section {
        position: relative;
        .image-bg {
            position: absolute;
            right: 20px;
            top: 780px;
        }
        @media only screen and (max-width: 768px) {
            .image-bg {
                right: -130px;
            }
        }
    }
}