.privacy-policy-page {
    .policy-privacy-section {
        h1 {
            font-size: 36px;
            font-weight: 400;
            margin: 0 0 18px;
        }
        p {
            margin: 0 0 20px;
        }
        a {
            color: #1677ff;
        }
    }
}